{% extends "base.html" %}

{% block content %}


<h1><img src="static/img/mars.jpg">Аварийный доступ</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username1.label }}<br>
        {{ form.username1(class="form-control") }}<br>
        {% for error in form.username1.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password1.label }}<br>
        {{ form.password1(class="form-control", type="password") }}<br>
        {% for error in form.password1.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.username2.label }}<br>
        {{ form.username2(class="form-control") }}<br>
        {% for error in form.username2.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(class="form-control", type="password") }}<br>
        {% for error in form.password2.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}